<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<!-- This page was coded by STEPHEN SAVOIA -->
<configuration>
  <connectionStrings>
    <add name="DB_65873_micConnectionString" connectionString="Data Source=s10.winhost.com;Initial Catalog=DB_65873_mic;User ID=DB_65873_mic_user;Password=5556mic!!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages>
      <controls>
        <add tagPrefix="AJAX" namespace="AjaxControlToolKit" assembly="AjaxControlToolkit" />
      </controls>
    </pages>
    <authentication mode="Forms"/>
    <membership defaultProvider="OnlineProvider">
      <providers>
        <add name="OnlineProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DB_65873_micConnectionString" applicationName="/http508"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="OnlineProvider">
      <providers>
        <add name="OnlineProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="DB_65873_micConnectionString" applicationName="/http508"/>
      </providers>
    </roleManager>
    
    <!-- Adding admin sitemap -->
    <siteMap enabled="true">
      <providers>
        <add name="AdminSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/admin/Admin.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    
  </system.web>
</configuration>