<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<!-- This page was coded by STEPHEN SAVOIA -->

<configuration>

    <connectionStrings>
      <add name="DB_65873_micConnectionString" connectionString="Data Source=s10.winhost.com;Initial Catalog=DB_65873_mic;User ID=DB_65873_mic_user;Password=5556mic!!" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <authentication mode="Forms" />
      <membership defaultProvider="OnlineProvider">
        <providers>
          <add name="OnlineProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DB_65873_micConnectionString" applicationName="/http508" />
        </providers>
      </membership>
      <roleManager enabled="true" defaultProvider="OnlineProvider">
        <providers>
          <add name="OnlineProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="DB_65873_micConnectionString" applicationName="/http508" />
        </providers>
      </roleManager>
    </system.web>
  

</configuration>
