.clear-both {
    clear: both;
}

.margin-right-s {
    margin-right: 2%;
}

.margin-right-m {
    margin-right: 5%;
}

.margin-bottom-s {
    margin-bottom: 2%;
}

.margin-bottom-m {
    margin-bottom: 5%;
}

.padding-s {
    padding: 2%;
}

