body {
}

.admin_locations_hospital {
    border-top: 2px #22BCB9 solid;
    overflow: auto;
    padding:15px 40px;
}

.admin_locations_hospital > input[type='submit'] {
    margin-left:25px;
}

.admin_locations_left {
    float: left;
}

.admin_locations_left > input, .admin_locations_left > textarea {
    margin: 5px 0 15px 0;
    width:200px;
}

.admin_locations_right {
    float: left;
    margin-left:30px;
}

.admin_locations_right > input[type='text'] {
    margin: 5px 0 15px 0;
    width:200px;
}

.admin_locations_right > input[type='submit'] {
    margin: 5px 0 0 130px;
}

.contentMain {
    overflow: auto;
}

.contentMain >h2 {
    font-weight: bold;
    font-size:1.3em;
}

.contentMain >h3 {
    font-weight: bold;
    margin-bottom:10px;
}

.location_response_message {
    margin-bottom: 10px;
    display:block;
    color: blue;
}