body {
}

.contentMain >h2 {
    font-weight: bold;
    font-size:1.3em;
}

.contentMain > a {
    color: blue;
    text-decoration:underline;
    display:inline-block;
    margin: 5px 25px 10px 0px;
    padding:5px;
}

#content_main_pnl_appointment_create >h3 {
    font-size:1.1em;
    margin-bottom:10px;
    padding-bottom:5px;
    display: block;
    border-bottom: 2px #22BCB9 solid;
}

#content_main_pnl_appointment_view >h3 {
    font-size:1.1em;
    margin-bottom:10px;
    padding-bottom:5px;
    display:block;
    border-bottom: 2px #22BCB9 solid;
}

#create_appointment_table {
    width:300px;
    margin:0 auto;
}

#create_appointment_table td {
    padding: 5px;
}

#create_appointment_table input[type='text'] {
    width:150px;
}

#create_appointment_table select {
    width:155px;
}

#create_appointment_table input[type='submit'] {
    margin:5px 0px 0px 75px;
}

.cat_left {
    width: 60px;
}

.appointments_response_message {
    margin-bottom: 10px;
    display:block;
    color: blue;
}

#appointments_admin_list h3 {
    padding:5px;
    font-size:1.2em;
    border-bottom: 2px #22BCB9 dotted;
    font-style:italic;
}

#appointments_admin_list td {
    padding:5px;
}

#appointments_admin_list table {
    margin:10px 0 20px 0;
    padding:5px;
}

.va_left_side {
    width: 125px;
}

.ajax__calendar_container TD {
    padding:0 !important;
}

.ajax_calendar_day {
    margin: 0 !important;
}

#content_main_ce_date_daysTable {
    table-layout:auto;
    width:auto;
}