@charset "utf-8";
body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* Desktop */
@media screen and (max-width: 1024px)
{
    .wrapper
    {
        width:95%;
        overflow:hidden;
    }
    img
    {
        max-width: 100%;
        height: auto;
        width: auto\9; /*ie8*/
    }
    #header
    {
        width:92%;
        padding:1.5% 3.5%;
        border:1px solid green;
    }
    #sidebar
    {
        width:20%;
        padding:1.5% 3.5%;
    }
    .navStyleHead
    {
        width:93%;
        padding:1.5% 3.5%;
        font-size:0.875em;
    }
    .navStyle
    {
        width:93%;
        padding:1.5% 3.5%;
        font-size:0.875em;
    }
    #content
    {
        width:68%;
        padding:1.5% 3.5% 0 0;
    }
    #footer
    {
        width:95%;
    }

}

/* Tablet */
@media screen and (max-width: 768px)
{
    .wrapper
    {
        overflow:hidden;
        
    }
    #header
    {
         border:1px dashed red;
    }


}
/* Smartphone */
@media screen and (max-width: 480px)
{
    .wrapper
    {
        overflow:hidden;
    }
    #header
    {
        border:1px dashed blue;
    }

}


