@charset "utf-8";

img
    {
        max-width:100%;
        height:auto;
        width:auto\9; /*ie8*/
    }

@media screen and (max-width: 1000px) {
    .wrapper {
        width: 95%;
    }
    #header {
        width:95%;
    }
    #content {
        width: 65%;
        padding:1% 3.5% 0 0;
    }
    #sidebar{
        width: 21%;
        padding:1.5% 3.5%;
    }

    .floatLogo
    {
        position:static;
        padding-right:2.5%;
    }
}

@media screen and (max-width: 768px) {
    #header {
        width:95%;
        height: auto;
    }
    #content {
        width: 65%;
        padding:1% 3.5% 0 0;
    }
 
    #sidebar {
        width: 21%;
        padding:1.5% 3.5%;
    }
}

html {
        -webkit-text-size-adjust: none;
    }
 
    #main-nav a {
        font-size: 90%;
        padding: 10px 8px;
    }
 
}
