<?xml version="1.0"?>
<!-- This page was coded by STEPHEN SAVOIA-->
<configuration>
    <system.web>
      <pages masterPageFile="~/admin/admin_master.master">        
      </pages>
      <authorization>
        <allow roles="admin" />
        <deny users="*" />
      </authorization>
    
    
    </system.web>
</configuration>
