body {
}

#book_appointment_public td {
    vertical-align:top;
    padding:3px;
}

#book_appointment_public input[type='text'] {
    width:50%;
}

#book_appointment_public input[type='submit'] {
    float: right;
    margin-right:100px;
}

#content_main_rbl_appointments {
    font-size:0.9em;
}

#content_main_ddl_province {
    width:51%;
}

.appointment_response_message {
    margin-bottom: 10px;
    margin-top:5px;
    display:block;
    color: blue;
}

.ss_tr {
    clear: both;
    overflow:hidden;
    padding:1px;
    margin:0 0 10px 0;
    display:block;
}

.ss_tr > label {
    float:left;
    width:25%;
}

.ss_td {
    width:70%;
    float:right;
}

@media screen and (max-width:480px) {

    .ss_tr > label {
    float:none;
    width:95%;
    }

    .ss_td {
        width:95%;
        float:none;
    }

    #book_appointment_public input[type='text'] {
    width:100%;
    }

    #content_main_ddl_province {
        width:100%;
    }
}